.qtyBtnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.decrement-btn,
.increment-btn {
    width: auto;
    text-align: center;
}

.qty-input {
    width: 50px;
}


.input-group-text {
    justify-content: center;
}

.menuTitle {
    text-align: center;
}

.cartBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cartItem {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0.5%;

}

.cartInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.cartdetails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

.cartFun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 2%;
}

.cartFun a {
    margin: 2%;
}

.cartFun p {
    font-size: 110%;
    font-weight: 500;
}