{% extends "menu/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'menu/confirm.css' %}">
<title>Tavern | Confirmation</title>
{% endblock head%} {% block content %}
<div class="bill">

  <h1>Order Confirmation</h1>
  <p>Your order has been confirmed successfully!</p>

  <h2>Order Details</h2>
  <div class="details">
    <p><strong>Order ID:</strong> {{ order.order_id }}</p>
    <p><strong>Date:</strong> {{ order.date_posted|date:"g:i A, j F Y" }}</p>
    <p><strong>Total Cost:</strong> ₹{{ order.total_cost }}</p>
  </div>

  <h3>Items:</h3>
  <ul>
    {% for item in order.items %}
    <li>{{ item.quantity }} x {{ item.title }} - ₹{{ item.price }} each</li>
    {% endfor %}
  </ul>

  <a href="{% url 'menu' %}" class="btn btn-primary menu">Go to Menu</a>
</div>
{% endblock content %}