{% extends "menu/base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'menu/menu.css' %}" />
<title>Tavern | Menu</title>
{% endblock head %} {% load crispy_forms_tags %} {% block content %}
<h1 class="menuTitle">Menu</h1>
<form method="GET" action="{% url 'menu' %}" class="searchForm">
  <input
    type="text"
    name="query"
    placeholder="Search for menu items..."
    class="searchInput"
    autocomplete="off"
  />
  <button type="submit" class="searchButton">Search</button>
</form>

<div class="menuPage">
  {% for menu in menuItems %} {% url 'menu-detail' menu.pk as menu_detail_url %}
  <div class="menuCard">
    <img
      src="{{menu.image.url}}"
      alt="{{menu.title}}"
      class="cardImage"
      onclick="window.location.href='{{ menu_detail_url }}'"
      style="cursor: pointer"
    />
    <div class="cardBody">
      <h5
        class="cardTitle"
        onclick="window.location.href='{{ menu_detail_url }}'"
        style="cursor: pointer"
      >
        {{menu.title}}
      </h5>
      <p class="card-text"><strong>₹ {{menu.price}}</strong></p>

      <div class="cartBtns">
        {% csrf_token %}
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="{{ csrf_token }}"
        />
        <input type="hidden" value="{{ menu.pk }}" class="menuId" />
        <div class="qtyBtnGroup">
          <button class="input-group-text changeQty decrement-btn">-</button>
          <input
            type="text"
            name="Quantity"
            value="1"
            class="form-control qty-input text-center"
          />
          <button class="input-group-text changeQty increment-btn">+</button>
        </div>
        <div class="addBtnGroup">
          <button type="button" class="btn btn-primary addtoCart">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="cartItems">
  <h3 style="text-align: center; text-decoration: underline">CART</h3>
  {% for item in cartItems %}
  <div class="cartItem">
    <p>{{ item.menu.title }}</p>
    <p>-₹{{ item.menu.price }}</p>
  </div>
  {% endfor %}
</div>

{% endblock content %} {% block script %} {% endblock script %}
