{% extends "menu/base.html" %} 
{% load static %}
{% block content %}
<h1 class="menuTitle">Your Cart</h1>
{% if cart %}
<ul class="cartBox">
  {% for item in cart %}
  <li class="cartItem menuCard">
    <div class="cartInfo"><span>{{ item.menu }}</span> <span> -- </span></div>
    <div class="cartInfo">
      <span>₹ {{ item.menu.price }}</span>
       <div class="cartBtns">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" value="{{ item.menu.pk }}" class="menuId">
        <label for="Quantity">Quantity</label>
        <div class="qtyBtnGroup">
          <button class="input-group-text changeQty decrement-btn">-</button>
          <input type="text" name="Quantity" value={{item.menuQty}} class="form-control qty-input text-center">
          <button class="input-group-text  changeQty increment-btn">+</button>
        </div>
        <div class="addBtnGroup">
          <button type="button" class="btn btn-link text-danger remBtn">Remove</button>
        </div>
    </div>
  </li>
  {% endfor %}
</ul>
<div class="cartFun">
  <p><strong>Total Cost: </strong> ₹ <span class="total-cost">{{ total_cost }}</span></p>
  <form method="POST" action="{% url 'confirm-order' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirm Order</button>
  </form>
  <a href="{% url 'clear-cart' %}" class="btn btn-danger">Clear Cart</a>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
  <a href="{% url 'menu' %}" class="btn btn-secondary">Continue Shopping</a>
</div>
{% endblock content %}
